
body {
    background: #282c34;
    color: white;
}

.card {
    width: 400px;
}

.card * {
    margin: 0;
}

.AppLogo {
    width: 70px;
    height: 70px;
}
.AppHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}


.headerLeft {
    display: flex;
    align-items: center;
}

.headerRight {
    display: flex;
    align-items: center;
}


.borderBox {
    padding: 20px;
    border: white 1px solid;
}

.yellowBox {
    padding: 20px;
    border: yellow 1px solid;
}

.cardButton {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;
}

.textAreaBox {
    width: 350px;
    height: 140px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    gap: 20px;
}

.card {
    width: calc(25% - 20px);
    min-width: 300px;
}
.spinBox {
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 20px);
    min-width: 300px;
}

@media (max-width: 1600px) {
    .card {
        width: calc(33.33% - 20px);
    }
    .spinBox{
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 1200px) {
    .card {
        width: calc(50% - 20px);
    }
    .spinBox{
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
    }
    .spinBox{
        width: calc(100% - 20px);
    }
}


.checkboxView{
    margin-left: auto;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.badge {
    background-color: cornflowerblue;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 40px;
    margin-right: 10px;
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}